<div id="error_explanation">
  <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

  <ul>
  <% @school.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
